GOOGLE_SCRIPT_URL=https://script.google.com/macros/s/AKfycbwxzjur4GlPl7oloAtsOaI3kBcl62JsJII7Dykg32hb0vX4TNXGeNxCp1Z3a--f2Mnz/exec
PUBLIC_GOOGLE_SCRIPT_URL=https://script.google.com/macros/s/AKfycbwxzjur4GlPl7oloAtsOaI3kBcl62JsJII7Dykg32hb0vX4TNXGeNxCp1Z3a--f2Mnz/exec
